<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />

    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch Api Post</title>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>How to send a post request using fetch</h1>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="nameField">Name</label>
          <input
            name="name"
            type="text"
            placeholder="CJ Patoilo"
            id="nameField"
          />
          <button type="submit" class="button-primary">Send</button>
          <button type="submit" class="button-secondary">Create</button>
          <button type="submit" class="button-third">Fetch</button>
          <button type="submit" class="button-four">Update</button>
          <button type="submit" class="button-five">fdaadsf</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../public/hello.js"></script>
  </body>
</html>
